<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Unosquare.Raspberry.Abstractions" version="0.4.1" targetFramework="net472" />
  <package id="Unosquare.Raspberry.IO" version="0.27.1" targetFramework="net472" />
  <package id="Unosquare.Swan" version="3.0.0" targetFramework="net472" />
  <package id="Unosquare.Swan.Lite" version="3.0.0" targetFramework="net472" />
  <package id="Unosquare.WiringPi" version="0.5.1" targetFramework="net472" />
</packages>